body {
}

header {
    display: Inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color:red;
}

img {
}

nav {
}

a {
}

main {
    display: Inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color:yellow;
}

div {
}

h1 {
}

p {
}

img {
}